@use '../abstracts/' as *;

.form-control {
    background-color: $color-gray-200;
    color: $color-black;
    font-family: $font-family-base;
    padding: 10px;

    &::placeholder {
        color: $color-gray-600;
    }

    &:focus {
        color: $color-black;
        background-color: $color-white;
        border: 1px solid $color-primary-200;
        box-shadow: 0 0 0 0.15rem rgba($color-primary, 0.75);
    }
}


// style for the card forms in auth pages (LOGIN, REGISTER)
.card-form {
    width: 650px;
    font-size: 1.1rem;
    color: $color-black;
    border-radius: 7px;
    background-color: $color-gray-100;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.1);

    @media (max-width: $breakpoint-sm) {
        width: 100%; // width in % sotto il brk < sm
    }

    h2 {
        font-family: $font-family-hand;
        font-size: 2.2rem;

    }

    img.logo {
        width: 80px;
        display: block;
        margin: 0 auto;
    }

    /* INPUT E FLOATING LABEL (using on login register and checkout forms) */
    .form-floating {
        font-family: $font-family-base;

        label {
            color: $color-gray-700;
            font-size: 0.95rem;
        }
    }

    .hint {
        color: $color-gray-500;
    }

    // classe per i link di redirect tra login e register
    .link-account {
        display: inline-block;
        width: fit-content;
        color: $color-primary-600;
        text-decoration: underline;
        margin: 0 auto;
        transition: color 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            color: $color-secondary
        }
    }

     // UTILIZZA CON button -> btn-two!
 }

 //  style per input con icona (usato in register e login)
 .input-icon {
     position: relative;

     .icon {
         position: absolute;
         top: 50%;
         left: 0.75rem;
         transform: translateY(-50%);
         font-size: 1.1rem;
         color: #6c757d;
         pointer-events: none;
         z-index: 3;
     }

     input.form-control {
         padding-left: 2.5rem; // spazio per l'icona
     }

     label {
         padding-left: 2.4rem; // allinea la label
     }
 }
