@use '../abstracts/' as *;

// stile per i link dentro la lista della navbar
.nav-link a {
    color: inherit;
    font-weight: $font-weight-normal;
    text-decoration: none;
    padding: 7px 15px;
    transition: color 0.1s;
}

// effetto hover sui link della navbar
.nav-link a:hover {
    color: $color-gray-700;
}

// stile per il link attivo
.nav-link a.router-link-active {
    background-color: #f4f4f482;
    font-weight: $font-weight-bold;
    border-radius: 5px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;

    // add border outline link aside navbar on mobile
    @media (max-width: $breakpoint-sm) {
        border: 1px solid $color-gray-600;
    }

    &:hover {
        color: $color-black;
    }
}