@use "sass:color";

// MAIN PALETTE COLORS graduations of the primary color of the website crochet giogi
$color-primary: #fac696;
$color-primary-100: #f8b78a;
$color-primary-200: #f6a87e;
$color-primary-300: #f49972;
$color-primary-400: #f28a65;
$color-primary-500: #f07b59;
$color-primary-600: #ee6c4d;
$color-primary-700: #ec5d41;
$color-primary-800: #ea4e35;
$color-primary-900: #e83f29;
// more color of palette based on primary
$color-secondary: #c66129;
$color-third: #d79f66;
$color-fourth: #b5a584;

// scale of grays
$color-black: #000000;
$color-white: #ffffff;
$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #6c757d;
$color-gray-700: #495057;
$color-gray-800: #343a40;
$color-gray-900: #212529;

// background and text colors mains
$body-bg: $color-primary;
$bg-sidebar: $color-gray-200;


// gradients
// gradients using sass:color to replace lighten()
$gradient-primary: linear-gradient(135deg,
                $color-primary-100 0%,
                $color-primary-400 50%,
                $color-primary-700 100%);

$gradient-secondary: linear-gradient(135deg,
                $color-primary-300 0%,
                $color-primary-600 60%,
                $color-primary-900 100%);